// color
$richBlack: #101018;            //off black
$raisinBlack: #181825;          //dark grey/mid black
$spaceCadetGrey: #30304B;       //mid grey
$orange: #EF6C00;               //primary accent
$berkelyBlue: #052F5F;          //secondary accent
$claretRed: #9C0D38;            //brand color and primary negative color
$blushRed: #CE5374;             //secondary negative color
$seashellWhite: #FFF3EB;        //off white
$champagnePinkWhite: #FFE7D6;   //secondary pink/white
$springGreen: #1D7247;          //primary positive color
$seaGreen: #26925C;             //secondary positive color

// padding, gap and margin
$padSm: 10px;
$padMed: 15px;
$padReg: 30px;
$gapSm: 10px;
$gapReg: 30px;
$marsm: 25px;
$marReg: 50px;

// font size
$fontSm: 18px;
$fontReg: 24px;
$headSm: 24px;
$headReg: 32px;
$headLg: 36px;
$headExLg: 48px;