@use "../../app/styles/variables" as var;

.recurringCard{
    background-color: var.$raisinBlack;
    border-radius: 25px;
    padding: var.$padReg var.$padSm;
    display: flex;
    flex-direction: column;
    align-items: center;

    .transContainer{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: var.$padMed 0;
    }

    p{
        font-size: var.$fontReg;
    }
}

.recurTrans{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: var.$padSm 0;

    .circle{
        width: 50px;
        height: 50px;
        border-radius: 100px;
        background-color: var.$claretRed;
    }
}

.recurringInput {
    background-color: var.$spaceCadetGrey;
    border-radius: 20px;
    padding: var.$padMed;
    font-size: var.$fontReg;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    gap: var.$gapMed;

    .row {
        display: flex;
        align-items: center;
        gap: var.$gapSm;

        max-width: 100%;
    }

    .inputColumns{
        display: flex;
        flex-flow: column wrap;
        max-width: 50%;
    }
    
    .twoColumnRow{
        *{
            max-width: 50%;
        }
    }

    select, input{
        font-size: var.$fontReg;
        background-color: var.$raisinBlack;
        width: 80%;
    }

    .recurUiButtons{
        display: flex;
        justify-content: space-around;

        .button{
            padding: var.$padSm;
        }
    }
}