@use "./styles/variables" as var;

@use "../components/Header/Header" as header;
@use "../components/Balance/Balance" as balance;
@use "../components/Goals/Goals" as goals;
@use "../components/RecurringCard/RecurringTransactions" as recurring;
@use "../components/RegTransCard/RegTransCard" as regTransactions;
@use "../components/AddButton/AddButton" as addButton;
@use "../components/AddButton/AddModal" as addModal;
@use "../components/SaveButton/SaveButton" as saveButton;
@use "../components/CancelButton/CancelButton" as cancelButton;

html, body {
    width: 100vw;
    background-color: var.$richBlack;
    color: var.$seashellWhite;
    font-family: "Lexend";

    margin: 0px;
    padding: 0px;
    *{
        margin: 0px;
        padding: 0px;
        font-weight: 400;
    }

    h4{
        font-size: 32px;;
    }

    input, select{
        background-color: var.$spaceCadetGrey;
        color: var.$seashellWhite;
        border-radius: 10px;
        border: none;
        padding: var.$padSm;
        max-width: 100%;
    }
}