@use "../../app/styles/variables" as var;

.saveButton{
    background-color: var.$orange;
    color: var.$seashellWhite;
    width: 170px;
    display: flex;
    justify-content: center;
    border: none;

    border-radius: 100px;
    
    p{
        padding: 0 var.$padReg;
    }
}