@use "../../app/styles/variables" as var;

.balance {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var.$padReg;
    gap: var.$gapSm;
    max-width: 100vw;

    h2{
        color: var.$orange;
        font-size: var.$headExLg;
    }
}